In [1]:
for temp in range(0,20):
    print(temp)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [8]:
for temp in range(10,20):
    print(temp, end=" ")
print()

10 11 12 13 14 15 16 17 18 19

In [28]:
element_list = [10,20,14,55,43,87,76]   
print(element_list)
print("Number of elements in List2:", len(element_list))

[10, 20, 14, 55, 43, 87, 76]
Number of elements in List2: 7

In [27]:
test_str = 'Artificial Intelligence'
 
print( str(test_str))
res = ''
for ele in test_str:
    res  += ele + "\n"
print( str(res))

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [17]:
print('-Your Name-')
print('-Your Age-')
print('-your Profession-')

-Your Name-
-Your Age-
-your Profession-

In [37]:
Tuple1 = (5, 'Welcome', 7, 'Geeks')
print(Tuple1)

(5, 'Welcome', 7, 'Geeks')

In [38]:
Tuple1 = ((0,1,2,3,),('python','HOPE'))
print(Tuple1)

((0, 1, 2, 3), ('python', 'HOPE'))

In [63]:
 
list1 = (20,10,16,19,25,1,276,188)
print(list1)
for num in list1:
    if num % 2 != 0:
        print(num, end=" is odd \n ")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
 25 is odd
 1 is odd

In [65]:
list1 = (20,10,16,19,25,1,276,188)
print(list1)
for num in list1:
    if num % 2 == 0:
        print(num, end=" is even \n ")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
 10 is even
 16 is even
 276 is even
 188 is even